@model Inventory.Models.Equipment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EquipmentId" />
            <div class="form-group">
                <label asp-for="Equity" class="control-label"></label>
                <input asp-for="Equity" class="form-control" />
                <span asp-validation-for="Equity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldEquity" class="control-label"></label>
                <input asp-for="OldEquity" class="form-control" />
                <span asp-validation-for="OldEquity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hostname" class="control-label"></label>
                <input asp-for="Hostname" class="form-control" />
                <span asp-validation-for="Hostname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldHostname" class="control-label"></label>
                <input asp-for="OldHostname" class="form-control" />
                <span asp-validation-for="OldHostname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAC" class="control-label"></label>
                <input asp-for="MAC" class="form-control" />
                <span asp-validation-for="MAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IP" class="control-label"></label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MEM" class="control-label"></label>
                <input asp-for="MEM" class="form-control" />
                <span asp-validation-for="MEM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processor" class="control-label"></label>
                <input asp-for="Processor" class="form-control" />
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HD" class="control-label"></label>
                <input asp-for="HD" class="form-control" />
                <span asp-validation-for="HD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU" class="control-label"></label>
                <input asp-for="GPU" class="form-control" />
                <span asp-validation-for="GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTag" class="control-label"></label>
                <input asp-for="ServiceTag" class="form-control" />
                <span asp-validation-for="ServiceTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maintenance" class="control-label"></label>
                <input asp-for="Maintenance" class="form-control" />
                <span asp-validation-for="Maintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
