@model Inventory.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro!";
}
    <div class="text-danger">
        <h1>Oops.</h1>
        <h2>Um erro aconteceu ao processar a sua requisição.</h2>        
    </div>

    <h2 class="text-warning">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"> @Model.Message</span>
    </h2>
    <hr />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

