@model Inventory.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro!";
}
<div class="text-danger">
    <h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>  Oops.</h1>
    <h3>Um erro ocorreu ao processar a sua requisição.</h3>
</div>

<div class="alert alert-danger" role="alert">@Model.Message</div>
<a asp-area="" asp-controller="home" asp-action="Index" class="btn btn-info">Home</a>
<hr />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

