@model Inventory.Models.ViewModels.EmployeeFormViewModel

@{
    ViewData["Title"] = "Novo Colaborador";
}

<h2>@ViewData["Title"]</h2>

<!--<h4>Colaborador</h4>-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.CompanyId" class="control-label"></label>
                <select asp-for="Employee.CompanyId" asp-items="@(new SelectList(Model.Companies,"CompanyId","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Enrollment" class="control-label"></label>
                <input asp-for="Employee.Enrollment" class="form-control" />
                <span asp-validation-for="Employee.Enrollment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ExternEmail" class="control-label"></label>
                <input asp-for="Employee.ExternEmail" class="form-control" />
                <span asp-validation-for="Employee.ExternEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.RG" class="control-label"></label>
                <input asp-for="Employee.RG" class="form-control" />
                <span asp-validation-for="Employee.RG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.CPF" class="control-label"></label>
                <input asp-for="Employee.CPF" class="form-control" />
                <span asp-validation-for="Employee.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Employee.Active" /> @Html.DisplayNameFor(model => model.Employee.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Registration" class="control-label"></label>
                <input asp-for="Employee.Registration" class="form-control" />
                <span asp-validation-for="Employee.Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastUpdate" class="control-label"></label>
                <input asp-for="Employee.LastUpdate" class="form-control" />
                <span asp-validation-for="Employee.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
