@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    Isaac Giordani da Rocha<br />
    Resende / RJ<br />
    <abbr title="Celular">C:</abbr>
    (24) 98144.5779
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:isaac.giordani@outlook.com">isaac.giordani@outlook.com</a><br />
</address>
